{% extends 'chirp/chirp_base.html' %}
{% load staticfiles %}
{% load cache %}


{% block content %}
    <h2>Chirp Detail</h2>

    <ul>
        <li>Title: {{ chirp.title }}</li>
        <li>Message: {{ chirp.message }}</li>
        <li>Author: {{ chirp.author.username }}</li>
        <li>Posted at: {{ chirp.posted_at }}</li>
    </ul>

    {% cache 500 slow chirp.id %}
    <p>{{ chirp.get_slow_data }}</p>
    {% endcache %}

    <p>
    {% if chirp.image %}
    <img src="{{ chirp.image.url }}">
    {% endif %}
    </p>
{% endblock %}